<plugin name='ulc' version='0.3-SNAPSHOT' grailsVersion='1.3.4 &gt; *'>
  <author>Canoo Engineering AG</author>
  <authorEmail>ulc-team@canoo.com</authorEmail>
  <title>ULC-Grails-Integration</title>
  <description>
Provides ULC (Canoo RIA Suite) integration for Grails
http://www.canoo.com/ulc
</description>
  <documentation>http://grails.org/plugin/ulc</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>ulc.UlcTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>